{% extends "base.html" %}
{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>All Contacts</h1>
<ul>
{% for contact in contacts %}
  <li>{{ contact.name }} | {{ contact.address }}</li>
  <p>{{contact.phone}}, {{contact.email}}</p>
{% endfor %}
</ul>

{% endblock content %}